<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
  <head>
    <!-- meta -->
    <meta charset="utf-8" />
    <meta name='description' content='University of Michigan 华人/留学生社区 '>
    <meta name='keywords' content='University of Michigan, Ann Arbor,University,密西根,大学,密歇根,安娜堡,华人,留学生,论坛,社区'>
    <!--meta property="wb:webmaster" content="3e6142a54508817f" /-->
    <%
    var headers = config.site_headers || [];
    for (var i = 0, l = headers.length; i < l; i++) { 
    %>
    <%- headers[i] %>
    <% } %>
    <link title="RSS" type="application/rss+xml" rel="alternate" href="/rss" />
    <!-- style -->
    <link rel="stylesheet" type="text/css" href="/libs/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link type='text/css' rel='stylesheet' href='/libs/code-prettify/prettify.css' />
    <% if (locals.extra_style) { %>
    <style type="text/css">
      <%- locals.extra_style %>
    </style>
    <% } %>
    <script src='/libs/code-prettify/prettify.js'></script>
    <!-- script -->
    <script src='/libs/jquery/jquery.js'></script>
    <script src='/libs/bootstrap/js/bootstrap.js'></script>
    <script src='/javascripts/main.js'></script>
    <% if (config.site_enable_search_preview) { %>
    <script>
      var __google_search_domain = '<%= config.site_google_search_domain || "" %>';
    </script>
    <script src='/javascripts/google_search_preview.js'></script>
    <% } %>
    <% if (locals.topic) { %>
    <title><%= topic.title %> - <%= config.name %></title>
    <% } else { %>
    <title><%= config.description %></title>
    <% } %>
  </head>
  <body>
    <!-- navbar -->
    <div class='navbar'>
      <div class='navbar-inner'>
        <div class='container'>
          <!--a class='brand' href='/'><%- config.site_logo || config.name %></a-->
          <a class='brand' href='/'><img src="data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAP4AAAAyCAYAAAB8vGaeAAAABmJLR0QA/wD/AP+gvaeTAAAACXBI
              WXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3AoFEjY6hPShvgAAABBpVFh0Q29tbWVudAAAAAAAQTJV
              TR5jrxYAABDySURBVHja7Z17eFTlncc/v3Mmk5DIRQmguJabF6xiqyWBYMCwa10MuFXrRitUfWy9
              u3ZZ3XZVbOdBbH26q3Vbr3W11N7cqFitIHKxQS65UbV9FEWqqHhZAbkFkkxm5vz2jzkhE5rMvGdy
              cuV8n4c/wsw58573vN/3d31/PwgQIECA/oxIBHHqeV03ool6ru+LY6ysxNq3iqOaq5nQUMXwykqs
              4M0F6GnIQHqYWC1TQjY1AKpsWriUUyMRtLfH1VLNqSGbb2BxNnCGQKj1M4UE8BawMuHwbE4xa73c
              29nIwwLX+D3mRJyZoalUdfZ5vI7zbYtnvd5X4XNrMoUATj01IkzJdowKDbu3c+zwchq68/0l6vmO
              JdzXpTUQ4+TcEt7uK1wJDSTi29JGABG+uOBcyiIR/thb44lu4KScHH4kwgVpdl4bOBU4NWQx36ln
              bQK+l1NEtdGijPGYFeJ9gYkI0wXGZ0silCpgiypbmhO8mXYhJ6jLFeYLnIJwmkBxhvt/hEOVCi8f
              3LQgIkqRKCcizBThWI9Sa/CwQuYBD3WnhiZwg+f5VGLAaoS3NMHm/bv5OJD43YA9axk2ZBCfCAxK
              mfwlVhFf743xJOq4TIQHRSjIgoRxVW65cyk/9aKxVFZifX0cN1nCTzz9nsMD2/fw3aPPoTHrTa6a
              iTkhHheh5BACRBXueO1VfjL5GuKdXb9lGeHxw5knNvenvkODuXpz4QtM6i7NLl7PLFt40SPpa5od
              Lsqf0rfIPiCJn6jnBku4/5BFkYg2M25QKdt6eCx3WMLCrt7HUW61i7jb83UbqRI4y3CRrl24lLP8
              IM6ulQwZNow/izA25f53W0Xc6mHu/t0SfuzRLCkLTWVNd7xLp54XRJjtgfQt0SYmDJrBR32ZLwPC
              sRSJIB3ZuQJ2bp7/9m8GST/fD9K74/9hvIZzs1AzV3iQ9ov9kpZHfZV9qvw09f+a4/zM0/zFWOl5
              EdveVXETNFczASh353SH4WVr+jrpBwzxb5/NVBEmdaILXv1+Fbk9MY5YPTNEuMc3dUwQK8R9Gx/x
              7IvZ4WGTeNdXCSn8KVX6/fglPvVkMiTaSKOwTZW9BjvkBY3VjPb7fYZDXC+CqPI+wmpD22Nrf+DM
              gCC+ncarLcKI4wr45273MVQx1IYnRPw1nwROPP10LvXoJNjjwZz43FeNJ97Ort3hVZu4Z3W78TQi
              PG4wR6E821/NbnsVBcCV7gb0CErC8IXtCojfA9izlmEIF2dYGDd09ziG5BMRYUyKtNuryj2Ow9x4
              jOJ4nFInwaWq/FLxFn4SocIb79ln+t14wl/i79rJJ6nachZmW7uNIhbnQcOVfPWWZYT9eo7hBcwV
              YZgqLU2JzJtPytwHxO8JDM7lmwJ5GYgzNVbLV7prDE3rOA5pSxhS5e59zYy1irjFLua3OSXU50xl
              vT2F31lFXNHUyImqVHr4iZmezBXHUDoBLUqTn3Mx+jx/75c7lb+qstxA6h89fkTnYVPPPiPhX9w/
              nzpiKtu9WHwB8bsZkQgilpmKZ1vc2F3jyM3lDhHCqqjjcJVVxK3DpneubhfM4P+e3so3VM2kmQj5
              o/OZwGEKR9tHa7pbs1swixmSzK0gkei+HIGA+Fni9llMEzjF0Pa6pKGK4X6PYd8qjgIucyX9DXYx
              /2NyXUUFzrs7mK/wmtGLchhxuBJ/3TKWK7xnsEFOb6nltC6TIpSU9qr85a7lbAiI38dg21xtbCdD
              Xn4+3/J7DAVDmCtCrip/vHMZD3u59oRyWhzlB2YP6/+m1V9QFiGhaiZ5Q9I1qd+0juOA8wHU4cG+
              kPIdED8Fe6s5EtfppcpOQ5X5+qoItp/jEOEiVXbGlGuyWSRLtrLUJEasCT7jMMaBvTyuJs5CYd6e
              tQzL2mwLc62ArdCwO8ZvBup89lviHxHiMoE8hSbHMQt3iTCmdJZ5FpbRBBZxllXEiNxitmRzfUUF
              DmRWJ+MtfHA4E3/I2exCMxNRhPzBeVyezW9sqyQP4aqkY4EnCkvZHxC/D6Fdpp5SGZrCSoV6owe2
              uz+0lwXSklohXvuyt0SYgYh4nAdMNbtsjjuPHkuFSNKXEo8NTKdevyb+7edypggnAyScpDNNHeNF
              cU50Ayf1sUdKHwJT6ssi5iG6gYpwCa+pgXYkcOKFY/gHz2abG/lRWBM+M/3pxID4vYDW47cKm+96
              kfUAn7zP/ypmySg5OX2uSMeotLx3zCIFhwM0YRbas2xv4dtYLVMEigBMHYkB8XsQ+1ZxFJJMwVXl
              0VaH2nEVNKOGBBGu2LmOI/rQY43pdKEr+3fHPCX7DGi89znPKAaOTmVOc03n89qBMGmV9p+9t8N7
              gZGA+N2MgiFc7obPYk0JfpX6WYvDw6o4BqrgkCPDzOsLz+M6lKam+cqAdjJ5xQnltKD83MCks8I2
              15rc80AVo1ojRCiPnlBOS0D8PgQ3lbI1dv/coamUeVN4H/iDqT0XifR+PYJjxnFmZ4UnVPm0Ic6C
              gO7t0ezwiFuyLBO+va0yfTo3QF4+V7mZl040xqOHwxz2K+LfPpvpIkwEcDpR6x1TJx+csmCWWbGK
              bn0BytzOPnOUq4eWsDugenvkT+FjNLM6LkLh6DHpT2a+WUmOyEHN4A+DpvFhQPw+htbjt6p8uG4Z
              qzr6zpIPWK3wjtHD93Jor2EthUjHOQiqLA4V80JA8042RUMnn2Rw8k0cy/mttf4cx/AkYED8HiYJ
              XJQ0w3iss/BWRQWOOmaLAuGCplf4u16TXHlcL/K3p+4U6nbv4KaA3p1j0XJeUXjDQLMrjtUxOY1W
              0JqX/9clH3QsTALi96Z6l8tlrSfgWqL8Iu0m0cgTqhwwWBR27qCeLc3VisZajhX4Xgekf2P/Hs7t
              7pLR/R2RCGqau2F3kr/fUseXRJjuzvvDbhZlQPw+9JJFLNepJyzPVDxzWBl7gScMpf5VfhZwMEWe
              cLcI+Yeo9+82N3POkLP7RzGH3sbuFn5tVHSkk5OZobYQXnPjARYfTnPXL4i/YBZnCclsO8cwVh83
              rNwiMGp8YdKE6CnE65gjVvtwoioftjicnV8apOaaorCU/Wh67c99x3n5BckyWq1w80HmumrWk4PL
              /K1EFBDfj0GGDjr1tm/dYebwCpfwhtJ5J5hD7Lwbe+pZ9q9nhCU8doh6/040SqkbjgzgAbGo8Qbf
              7mRmwVCubA2jDtRiG/2a+A1rKUS50H17i70kVxh7foWSlhrO6AmTJT/Mz0UYmUL61xvjTO/p2v/d
              hXbHnqXzBhp+IbeUd0zKiYswtrQ8Waq8KoItbqk0VV69a7nZAa+BhD7fQis/jytEXBtcmeds5GvG
              F6v584VC3AD+F+pIxR3lXCOSLPLgkn79vibmpCvT1d2QkL9JTF8uS0mF1p7xVThwvw3nZJRySSff
              C6WzKRcYB8nDXQO12Ea/Jb57/PbqlF3bW+10b0v60oYqvttdtl6smmkibc0mVFmx8wAXjizLHH3w
              ChXziEAo5m/PgdwQQ1L+7BHir1vKshmz+SC1ynEnUn9WtIbjLVynnrJnx16ePBxNpD6t6i8oZ6YI
              J/SI5OvAAeQXGqsZbefwjAg5rqR/5sMD/JNX0idqudKp4z8zVRFyPNR2D4X9PaxkSwrxe6jGvFua
              y8jWz7G5V8TVDpTFXekXGBC/+wZ3UNpHYxwvkxGv/556D1vVzGkmwnV+l+baVkleXohnBI52pczi
              V//EJWPLiHrdPMTiIYTyTGfzW6Lmab7i+Et8K5zSrVd7Lt24sZHHVDPPqQjnHdTC4t5qJAbE7wHs
              r2EkknTqKazPK8mu1VNFBY6SOeTjSv1xrQ4gP1AVwT52HL8R9/SdKv/99Fa+la5rbGfIC3Gz6+vI
              2D578yZzn4EV8jdzUZQvpfgw3uip9eKaaL8zd/+wKncamwPi9zEMsrjioGqshsk4ndnXCX6paubA
              scSfVNlIBJkxm4ekdfNyWLhwKfOzyQ6L1TEZ4Tp3LmoyfX/yNcRV2WS42X3RV+JLG/HjMV7pyTWT
              ULNMPgBHD78QXp8nfmUllrhFDxWaG5q7VogibyofmDY9FOGrLdXJZgpdwffLuav1GRyHf7OK+YFX
              7/HOdRyRqOM6W1h1MOYcyyzxXaw0JP4kP80aXPtZlR0/WmF2WMov5BSz0WRjVOWTzVvNjm8PVPRJ
              r/6FX+AfRTje1cme9SPcpQ6/EIuzjSYlxL8C385a8tQxX6xkT3hV3hZhlFOfps+9IDiEEfJItgMr
              INljflJqezCFhg0redtIojmssG2+Y8D8c6oi2H7U9DtmDHME17knvOJDmMxzqFHhASFtYRMUHjml
              on+0ujqsiG/Zbeq2Q9fU/FZ89hnPHn00e0UYavD1eftruM1jz7Qk6Wv5pmVxb4oGMRGSNQR80L1q
              TQm6q4k1hQXsFKEwg4YzsnQW04mYZTmmM20sq62WoeP4UtBiiGet4wBPfaGAe1ur5XZA+ng03o01
              DLVnWrIPOFU/uoGTRJjlSsu9m7ca9iXPgNHn0YTwvKG6n5sfStrUXhCvY7bYZo7ELBeVqZrPyDIO
              KNxmuNHe0tWh3TGbChFmuuSqX7QsczZdRzikOegIr2Wyx5YRRdKU5lJ+n1/SrqOvsdvJaO1YDA6I
              n42dFmZ+yp+r/VTJTFI7U3CT2xfPCLFaSi2LpwV/w4GHqO81Xr6/dimPK7xusNHNjtcnN9ts0LyW
              cSLcd3CccRZlq+aPstoktYB97jHm7+Cg8Gjmkc5qL2ZdbEPSV0JO2VgC4ntFywa+jLqdTJKT/Zaf
              90/EM5MgZdEddcRQ7jQady2n2RYvZGrX3VU0NVHr5ftlERJxh7mqmU0WC37bUuPd0ddczYTwINYc
              zFOA5xctz95xZofbzjEADMpNb693KJqT5x5+38HG//aiF72bNJEIghqHPU8MiO8BVRHsUJgHRNqN
              qdBniek1S+valrq28FSHC38940M2Lxn6Drqg5fNONunE4WI2xZWZmUpSi3BkyGZ1op6LTYqQbllG
              OFHPzeEcXhU4zh3ja/uauLwrTj3borzdArX4j2ySqpwOqjCp8lA2Y3MbuJiW6p7Zm1Wd+hXxd61k
              yIzZPCcw7ZDVPi9eS7kf1XAjESQc5gpP2p1ghSwqD1R1rOYdqGJUOMyKVmlH9zK/JttLw8VsirVw
              VqaEGhFGWMKT359DTaKem1uqOf1AFaO2LCPcsJbCaC0nx2v5mrORhyeMYKsl/FerF1+VJfua+Pts
              IzCVlViJWi4RaV9VWODMGXNY4naxNcaiF6lSbdMYVWlsiHp3FMfqmWFb5vn8IuTm5vN8tMaNSvVR
              9Gp56egGTsoJcyPKhekO4ChsRlmhylZ1eDU0lTWZ7r29ioLhBVwAHCMwHqFUyC4+76rKv3aUl0PF
              LD0oVTayTuDMnpgrx+E6u7hrKaZvVpIzcRy3iPB9v8wSVT5xlBtDxd6bUCTquViEScBElJIMayAB
              1KJsUmVTLMHzmbI5E/Vcb0kyqUeVR62izG3VozUcH7K5QIRJKF8RyS7ByfUx1CH8WZW/7NnBr/pS
              ObVeJX6ilhstm595nNCXrKLMjqhoDceHQ9l1sE3z27VWUZvN6dTzUWuF1u5GrIXTw9PMfRTp0LiO
              Y3LDXCYWV0oWNqmbBblS4bFtB3jO67mDlI1zp/C3JbH82gg/X8bgI0fyscDgWIwzwiW81h1r0sgP
              FOPk3BKzHIwBT/wAvYtIBLmtnNNsoViUySTTbQuBocBQhATKbveU3acoGx2lNtpIdUGZQRurAAEC
              BAgQIECAAAECBAjQk/h/OaHkUDkyzk0AAAAASUVORK5CYII=" alt="Red dot" /></a>
          <form id='search_form' class='navbar-search' action="/">
            <input type='text' id='q' name='q' class='search-query span3' value='<%= locals.keyword || '' %>'/>
          </form>
          <ul class='nav pull-right'>
            <li><a href='/'>首页</a></li> 
            <%
            var site_navs = config.site_navs || [];
            for (var i = 0, l = site_navs.length; i < l; i++) {
              var nav = site_navs[i];
            %>
            <li><a href="<%- nav[0] %>" target="<%- nav[2] %>"><%- nav[1] %></a></li> 
            <% } %>
            <li class='divider-vertical'></li>  
            <% if (locals.current_user) { %>
            <li><a href='/setting'>设置</a></li>  
            <li><a href='/signout'>退出</a></li>  
            <% } else { %>
            <li><a href='/signup'>注册</a></li> 
            <li><a href='/signin'>登录</a></li> 
            <% } %>
          </ul>
        </div>
      </div>
    </div>
    <!-- wrapper -->  
    <div id='wrapper'>
      <div id='main'>
        <%- body %>
      </div>
      <div class='cl cr'></div>
    </div>
    <div id='backtotop'>回到顶部</div>
    <!-- <a href="https://github.com/muyuan/nodeclub"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/71eeaab9d563c2b3c590319b398dd35683265e85/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub"></a> -->
    <!-- footer -->
    <div id='footer'>
      <div id='footer_main'>
        <div class='fr'>
        </div>
        <div>
          <strong><a class='dark' href='/about'>关于</a></strong>
          &nbsp;&nbsp;|&nbsp;&nbsp; 
          <strong><a class='dark' href='/faq'>FAQ</a></strong>
          &nbsp;&nbsp;|&nbsp;&nbsp;
          <strong><a class='dark' href='/rss' target="_blank">RSS</a></strong>
        </div>
        <div class='sep10'></div>
        <div class='col_fade'>
          &copy; 2012 <br>本社区基于nodeclub，版本: <%= config.version %>，感谢cnodejs.org <br>
        </div>
      </div>
    </div>
  </body>
</html> 
