<%- partial('sidebar') %>

<div id='content'>
	<div class='panel'>
		<div class='header'>
			<ul class='breadcrumb'>
				<li><a href='/'>主页</a><span class='divider'>/</span></li>
				<li class='active'>关于</li>
			</ul>
		</div>
		<div class='inner'>
			<div class='topic_content'>
                <h3>关于</h3>
                <h1>University of Michigan - Ann Arbor 中文社区</h1>
                    <p>A Community, A Platform, A Garage</p>
                    <br>
                    <p>A2UM是一个密大华人社区， 在这里你可以咨询，发布收售信息，招募驴友，分享新鲜事物，交流想法，找到朋友甚至得到新的机会。在这里请保持对他人的友善，并且保持一颗勇于探索的心。</p>
                    <br>
                    <p>为了保持良好的社区氛围，请遵守A2UM社区规则:</p>
                    <p> • 反对中文互联网上的无信息量习惯如“顶”，“沙发”，“板凳”，“留名”，“路过” </p>
                    <p> • 尊重原创,转载请明确注明消息来源 </p>
                    <p> • 不讨论任何有关盗版软件、音乐、电影如何获得的问题</p> 


			</div>
		</div>
	</div>	
</div>
